.App {
}

.App-header {
  background-color: navy;
  height: 24px;
  text-align: center;
  padding-top: 5px;
  color: white;
}

.App-footer {
  padding-top: 10em;
  font-size: 8pt;
  text-align: center;
}
